<h1>QUERIES</h1>
<form>
        <div class ="row">
            <input id = "query" type = "text" class ="form-control-lg col-lg-12 mt-1 mb-3 " placeholder = "textbox for query">
        </div>
        <div class = "row">
            <button id="submit" class = "form-control form-control-lg btn btn-primary col-lg-3">SUBMIT</button>
        </div>
        <hr class ="my-4">
        {{>rTables}}
</form>